@import "./corporate-design.scss";

#FAQ {
  background-color: $primary-light;
  height: auto !important;
  position: relative;
  padding: 0;
  padding-bottom: 5vh;
  padding-top: 40px;
  padding-left: 8vw;

  h2 {
    color: white;
  }
  .btn {
    font-size: 1.2rem;
    text-align: left;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $secondary-dark;
    width: 100%;
    margin-top: 10px;
    border-radius: 0.25rem 0.25rem 0 0;
    -webkit-border-radius: 0.25rem 0.25rem 0 0;
    -moz-border-radius: 0.25rem 0.25rem 0 0;
    -ms-border-radius: 0.25rem 0.25rem 0 0;
    -o-border-radius: 0.25rem 0.25rem 0 0;
  }
}
#heading-faq {
  padding-top: 5vw;
  padding-right: calc(5vw + 17px);
}
#faq-row {
  padding-right: calc(5vw + 17px);
  margin-bottom: 50px;
}
.faq-text {
  background-color: $secondary;
  color: white;
  padding: 30px;
  border-radius: 0 0 0.25rem 0.25rem;
  -webkit-border-radius: 0 0 0.25rem 0.25rem;
  -moz-border-radius: 0 0 0.25rem 0.25rem;
  -ms-border-radius: 0 0 0.25rem 0.25rem;
  -o-border-radius: 0 0 0.25rem 0.25rem;
}
