#FirstSteps {
  height: auto !important;
  position: relative;
  padding: 0;
  padding-bottom: 5vh;
  padding-top: 40px;
  padding-left: 8vw;
  p {
    text-align: justify;
  }
}
.firststeps-heading-row {
  padding-top: 5vw;
  padding-right: calc(8vw + 17px);
  margin-bottom: 50px;
}
.firststeps-row {
  padding-bottom: 5vw;
  padding-right: calc(8vw + 17px);
}
.firststeps-col {
  p {
    text-align: justify;
  }
  h3 {
    margin-top: 15px;
    text-align: center;
  }
  // border: 2px solid black;
  padding: 25px !important;
  margin-bottom: 50px;
}

.firststeps-icon {
  width: 30%;
  height: auto;
  margin-left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.dropdown-icon {
  margin-left: 50%;
  margin-top: 10px;
  transform: rotateX(0deg) translateX(-50%);
  -webkit-transform: rotateX(0deg) translateX(-50%);
  -moz-transform: rotateX(0deg) translateX(-50%);
  -ms-transform: rotateX(0deg) translateX(-50%);
  -o-transform: rotateX(0deg) translateX(-50%);
  transition: transform 0.75s;
  -webkit-transition: transform 0.75s;
  -moz-transition: transform 0.75s;
  -ms-transition: transform 0.75s;
  -o-transition: transform 0.75s;
}
.dropdown-icon.dropdown-opened {
  transform: rotateX(180deg) translateX(-50%) !important;
  -webkit-transform: rotateX(180deg) translateX(-50%) !important;
  -moz-transform: rotateX(180deg) translateX(-50%) !important;
  -ms-transform: rotateX(180deg) translateX(-50%) !important;
  -o-transform: rotateX(180deg) translateX(-50%) !important;
  transition: transform 0.75s;
  -webkit-transition: transform 0.75s;
  -moz-transition: transform 0.75s;
  -ms-transition: transform 0.75s;
  -o-transition: transform 0.75s;
}

#FirstSteps.mobile {
  margin-left: 0 !important;
  width: 100vw !important;
  padding: 30px;

  .firststeps-icon {
    width: 30vw;
    height: auto;
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .firststeps-row {
    padding-right: 0;
  }
}
