@import "./corporate-design.scss";

#Footer {
  height: 30vh !important;
  background-color: $secondary;

  .row {
    height: 100%;
  }
  Col {
    height: 100%;
  }
  img {
    min-width: 50%;
    width: auto;
  }
  img,
  .footer-links {
    margin: 0;
    position: absolute;
    top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  .footer-links {
    button,
    a {
      padding: 0;
      margin: 10px;
    }
    button:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

#white-logo {
  max-width: 30vw;
  height: auto;
  display: inline;
  margin: 2px;
  margin-left: 10px;
}
