@import "./corporate-design.scss";
@import "./App.scss";
@import "./navigation.scss";
@import "./faq.scss";
@import "./footer.scss";
@import "./selection.scss";
@import "./discover.scss";
body {
  overflow-x: hidden !important;
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//import font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,300;1,400&display=swap");

#root {
  font-family: "Montserrat";
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// change the default bootstrap theme
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "info": $info,
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
// Import Leaflet styles and its default variables
@import "~leaflet/dist/leaflet.css";
//Import leaflet marker cluster styles
@import "~react-leaflet-markercluster/dist/styles.min.css";
