@import "./corporate-design.scss";

#storymap-container {
  .col {
    padding: 0;
    padding-right: 15px;
  }
  z-index: -5;
  position: sticky;
  top: 0;
}
#storymap {
  width: 100%;
  height: 100vh;

  margin-top: 0px !important;
}

.section {
  margin: 10px;
  background: #2196f3;
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  /* for Firefox */
  min-height: 0;
}

.content {
  margin: 10px;
  background: #bbdefb;
}

.scrollable-content {
  background: white;
  flex-grow: 1;

  overflow: auto;

  /* for Firefox */
  min-height: 0;
}

.storymap {
  width: 100vw;
  height: unquote("calc(100vh - 25px)") !important;
  z-index: 0;
  margin-top: 0px !important;

  .leaflet-left {
    margin-top: 74px;
  }
}
.storymap-text {
  width: 50vw;
  height: unquote("calc(100vh - 89px)");
  margin-top: 64px;
  margin-left: 100px;
  position: absolute;
  z-index: 1;
}

.storymap-description {
  margin-top: 100vh;
  margin-left: 5vw;
  margin-right: 50vw;
  border: 20px solid rgb(255, 255, 255);
  border: 20px solid rgba(255, 255, 255, 0.3);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  background-color: white;
  backdrop-filter: blur(6px);
  opacity: 0.99;
  padding: 50px;
  text-align: justify;

  h2 {
    text-align: left;
    margin-bottom: 30px;
  }
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.storymap-description.first {
  margin-top: -80vh;
}
.storymap-description.mobile {
  margin-right: 5vw;
  padding: 30px;
}

#firststeps-container {
  width: 80vw !important;
  height: auto !important;
  margin-left: 10vw;
  margin-right: 10vw;
  transform: translateY(-10vh);
  -webkit-transform: translateY(-10vh);
  -moz-transform: translateY(-10vh);
  -ms-transform: translateY(-10vh);
  -o-transform: translateY(-10vh);
  z-index: 14;
  padding: 50px;
  border: 20px solid rgba(255, 255, 255, 0.3);
  -webkit-background-clip: padding-box;
  /*forSafari*/
  background-clip: padding-box;
  /*forIE9+,Firefox4+,Opera,Chrome*/
  background-color: white;
  backdrop-filter: blur(6px);
  opacity: 0.99;
}
.firststeps-col {
  p {
    text-align: justify;
  }
  h3 {
    margin-top: 15px;
  }
  // border: 2px solid black;
  padding: 25px !important;
}
.englisch {
  h3 {
    min-height: calc(1.75rem * 4);
  }
}
.firststeps-icon {
  width: 30%;
  height: auto;
}
.dropdown-icon {
  margin-left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
