@import "./corporate-design.scss";

#Intro {
  margin: 0;
}
#storymap-container {
  .col {
    padding: 0;
    padding-right: 15px;
  }
  padding: 0;
  z-index: -5;
  position: sticky;
  top: 0;
}
#storymap {
  width: 100vw;
  height: 100vh;

  .leaflet-bottom.leaflet-right {
    transform: translateX(-17px);
    -webkit-transform: translateX(-17px);
    -moz-transform: translateX(-17px);
    -ms-transform: translateX(-17px);
    -o-transform: translateX(-17px);
  }
}

.section {
  margin: 10px;
  background: #2196f3;
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  /* for Firefox */
  min-height: 0;
}

.content {
  margin: 10px;
  background: #bbdefb;
}

.scrollable-content {
  background: white;
  flex-grow: 1;

  overflow: auto;

  /* for Firefox */
  min-height: 0;
}

.storymap-description {
  margin-top: 100vh;
  margin-left: 5vw;
  margin-right: 50vw;
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  background: white !important;
  padding: 50px;

  h2 {
    text-align: left;
    word-break: break-word;
    margin-bottom: 30px;
  }
  img {
    margin-bottom: 10px;
  }
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.storymap-description.first {
  margin-top: -80vh;
}

.scrollama-container {
  width: 100vw;
  height: 100vh;
  margin: 50vh 0;
  border: 2px dashed skyblue;
}

.storymap-description.mobile {
  margin-left: 0;
  width: 100vw;
  padding: 30px;
}
