@import "./corporate-design.scss";
.modal {
  max-height: 100vh;
}
#welcome-modal {
  margin-left: 0 !important;
  margin-bottom: 0 !important;
  .modal-content {
    height: calc(var(--vh, 1vh) * 94) !important;
    width: 98vw !important;
  }
  .choose-studies {
    width: 100%;
    margin-top: 10%;
    height: 50%;
    .studies-button {
      margin-left: 10%;
      height: 100%;
      width: 35%;
      font-size: 3rem;
    }
    .mobile-studies {
      font-size: 1rem;
    }
  }
}
#Top {
  position: relativ;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 100px;
  z-index: 5;
  height: calc(100vh - 50px);
  .row {
    padding-left: 5vh;
  }
  .col {
    padding-left: 0px;
  }
  h1,
  .h1 {
    font-size: 3.5rem;
  }
}
.logo {
  max-width: 40%;
  height: 45px;
  width: auto;
  display: inline;
  margin: 2px;
  margin-left: 10px;
}

.landing-img {
  height: calc(100vh - 105px);
  width: 100vw;
  object-fit: cover;
}
.landing-img-col {
  z-index: -10;
  left: 0;
  top: 58px;
  height: calc(100vh - 105px);
  position: absolute;
  width: 100vw;
}
.landing-img-col,
.landing-image-carousel {
  width: 100vw !important;
  overflow: hidden;
}

#heading {
  color: white;
  margin-left: 2vw;
  margin-right: 7vw;
  height: calc(100%);
  #p-container {
    height: calc(100% - 49px - 4rem - 50px);
  }
  p {
    text-align: justify;
  }
}
#language-dropdown {
  border-color: $tertiary;
  background-color: white;
  color: $secondary-opac;
}
#start-button {
  margin-top: 50px;
  color: white;
}

#powered-paragraph {
  position: relative;
  width: 100vw;
  height: 44px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 20px;
  text-align: left;

  p {
    margin: 0;
  }
}

#start-journey-container {
  p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-size: 1.5rem;
  }
  max-height: 50vh;
  color: white;
  text-align: center;
  background-color: $primary;
  position: absolute;
  bottom: 70px;
  left: 50%;
  padding: 10px;
  width: 50vw !important;
  height: 10vh;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

#start-journey-container:hover {
  opacity: 0.9;
  cursor: pointer;
}
#start-journey-container:active {
  box-shadow: inset 3px 3px 5px 0 rgba(0, 0, 0, 0.5),
    inset -3px -3px 5px 0 rgba(110, 110, 110, 0.5);
  transform: translateX(-50%) translateY(7px);
  -webkit-transform: translateX(-50%) translateY(7px);
  -moz-transform: translateX(-50%) translateY(7px);
  -ms-transform: translateX(-50%) translateY(7px);
  -o-transform: translateX(-50%) translateY(7px);
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
}
#start-journey-container.mobile {
  width: 90vw !important;
}

.mobile-landing {
  height: calc(var(--vh, 1vh) * 100 - 50px) !important;

  .landing-img-col {
    height: calc(var(--vh, 1vh) * 100 - 105px) !important;
  }
  .landing-img {
    height: calc(100vh - 105px);
  }
  #heading {
    height: calc(100% - 50px);

    #p-container {
      height: calc(100% - 49px - 4rem - 50px - 50px);
    }
  }
  h1 {
    font-size: 2.5rem !important;
  }

  #start-journey-container {
    p {
      font-size: 1.3rem;
    }
  }
}
