@import "./corporate-design.scss";

.selection-container {
  display: flex;
  position: absolute;
  right: 45px;
  top: 0;
  z-index: 500;
}
#selection-button {
  .collapse-icon {
    margin-top: 50%;
    margin-left: 70%;
    width: 50px;
    height: auto;
    transform: rotateY(0deg) translate(-50%, -50%);
    -webkit-transform: rotateY(0deg) translate(-50%, -50%);
    -moz-transform: rotateY(0deg) translate(-50%, -50%);
    -ms-transform: rotateY(0deg) translate(-50%, -50%);
    -o-transform: rotateY(0deg) translate(-50%, -50%);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
  }
  z-index: 490;
  position: absolute;
  right: 40px;
  top: 60px;
  height: 65px;
  width: 65px;
  background-color: $primary;
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
  transition: right 0.5s;
  -webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  -ms-transition: right 0.5s;
  -o-transition: right 0.5s;
}

#selection-banner {
  position: absolute;
  z-index: 480;
  right: 0;
  top: 60px;
  height: 65px;
  width: 40px;
  background-color: $primary;
  transition: right 0.5s;
  -webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  -ms-transition: right 0.5s;
  -o-transition: right 0.5s;
}
#selection-content {
  position: absolute;
  right: 0;
  height: 80vh;
  background-color: $primary;
  width: 0px;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
}
.category-button {
  opacity: 0;
  transition: opacity 0s;
  -webkit-transition: opacity 0s;
  -moz-transition: opacity 0s;
  -ms-transition: opacity 0s;
  -o-transition: opacity 0s;
}
#selection-content.selection-collapsed {
  .all-category-buttons {
    width: 100%;
    margin-left: 50%;
    margin-top: calc(10vh - 45px);
  }
  .category-button {
    .icon {
      display: inline-block;
      margin-top: 50%;
      margin-left: 50%;
      width: 80%;
      height: 80%;
      background-size: cover;
      transform: translateY(-50%) translateX(-50%);
      -webkit-transform: translateY(-50%) translateX(-50%);
      -moz-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
      -o-transform: translateY(-50%) translateX(-50%);
    }
    color: white;
    margin-bottom: 15px;
    height: 10vh;
    width: 10vh;
    padding: 10%;
    background-color: $secondary;
    box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25),
      -4px -4px 6px 0 rgba(255, 255, 255, 0.3);
    background: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.22),
      rgba(255, 255, 255, 0.25)
    );
    text-align: center;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    opacity: 1;
  }
  .category-button:hover {
    opacity: 0.6;
  }
  .category-button:active {
    box-shadow: inset 3px 3px 5px 0 rgba(0, 0, 0, 0.5),
      inset -3px -3px 5px 0 rgba(110, 110, 110, 0.5);
    color: $primary;
    transform: translateX(-50%) translateY(7px);
    -webkit-transform: translateX(-50%) translateY(7px);
    -moz-transform: translateX(-50%) translateY(7px);
    -ms-transform: translateX(-50%) translateY(7px);
    -o-transform: translateX(-50%) translateY(7px);
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
  }
  .active-button {
    box-shadow: inset 3px 3px 5px 0 rgba(0, 0, 0, 0.5),
      inset -3px -3px 5px 0 rgba(110, 110, 110, 0.5);
    color: $primary;
    transform: translateX(-50%) translateY(7px);
    -webkit-transform: translateX(-50%) translateY(7px);
    -moz-transform: translateX(-50%) translateY(7px);
    -ms-transform: translateX(-50%) translateY(7px);
    -o-transform: translateX(-50%) translateY(7px);
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
  }
  width: 180px !important;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
}

.collapse-icon.selection-collapsed {
  transform: rotateY(180deg) translate(50%, -50%) !important;
  -webkit-transform: rotateY(180deg) translate(50%, -50%) !important;
  -moz-transform: rotateY(180deg) translate(50%, -50%) !important;
  -ms-transform: rotateY(180deg) translate(50%, -50%) !important;
  -o-transform: rotateY(180deg) translate(50%, -50%) !important;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}
#selection-button.selection-collapsed {
  right: 220px !important;
  transition: right 0.5s;
  -webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  -ms-transition: right 0.5s;
  -o-transition: right 0.5s;
}
#selection-banner.selection-collapsed {
  right: 180px !important;
  transition: right 0.5s;
  -webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  -ms-transition: right 0.5s;
  -o-transition: right 0.5s;
}
.selection-container.mobile {
  right: 0;
}
